footer.footer
  hr
  section.container
    section.footer-wrapper
      section.footer-wrapper__dreamshare
        h3 DREAMSHARE
      section.footer-wrapper__company
        h3.footer-wrapper__company_h3 Company
        ul.footer-wrapper__company_ul
          li
            a(href='#') About
          li
            a(href='#') Contact
          li
            a(href='#') Press
          li
            a(href='#') Blog
          li
            a(href='#') Terms and Privacy
          li
            a(href='#') Help
      section.footer-wrapper__partners
        h3 Partners
      section.footer-wrapper__logo
        h3.footer-wrapper__logo_h3 DESIGNED BY
        img(src='./images/Footer_logo.png' alt='Logo')