header.header
  section.container
    section.container__topWrapper
      .logo
        a(href='#') DREAMSHARE
      nav.nav
        button.nav__logIn Log in
        button.nav__signUp Sign up
    section.header__text
      h2
        | SHARE YOUR 
        br
        |  HOLIDAY DREAM
      p And find the perfect partner to fullfill it
      button Find your holiday partner